

<section class="marqueeStyle-header ng-scope">
  <div class="header-title">
    <p class="pageTitle ng-binding">Margin Management</p>

    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee" class="marqueeStyle">
      MCX ALUMINIUM, COPPER, LEAD &amp; ZINC ALL WILL EXPIRES TODAY(23SEP,MON), SO ROLLOVER YOUR POSITION BEFORE MARKET
      CLOSE, OTHERWISE CLOSE BY BID-ASK RATE...
    </marquee>
  </div>
</section>




<!-- Margin Management -->
 <section class="content ng-scope">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-section-mobile lobipanel-parent-sortable ui-sortable" style="" data-lobipanel-child-inner-id="ZAEdhh49jE">
      <div class="panel panel-bd lobidisable bg-lobidisable lobipanel lobipanel-sortable" data-inner-id="ZAEdhh49jE" data-index="0">
        <div class="panel-body" style="padding-top: 8px; padding-bottom: 10px">
          <div class="Workslist">
            <div class="worklistdate">
              <div class="ovwelay_apply">
                <div class="col-4 col-md-2" ng-show="$root.userInfo.userType != 1">
                  <label>Client</label>
                  <div class="select2-container ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_client" style="width: 0px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select Client</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen75"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><input type="hidden" id="client" ui-select2="select2Options" ng-model="selectUser" data-placeholder="Select Client" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1" style="">
                </div>

                <div class="col-4 col-md-2" ng-show="$root.userInfo.userType != 1 &amp;&amp; $root.userInfo.userType != 5">
                  <label>Broker</label>
                  <div class="select2-container ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_broker" style="width: 0px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select Broker</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen76"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><input type="hidden" id="broker" ui-select2="select2BOptions" ng-model="selectBroker" data-placeholder="Select Broker" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1" style="">
                </div>

                <div class="col-4 col-md-2" ng-show="$root.userInfo.userType != 1 &amp;&amp; $root.userInfo.userType != 5">
                  <label>Master</label>
                  <div class="select2-container ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_master" style="width: 0px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select Master</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen77"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><input type="hidden" id="master" ui-select2="select2MOptions" ng-model="selectMaster" data-placeholder="Select Master" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1" style="">
                </div>

                <div class="col-md-1 res_center">
                  <button ng-click="getMarginManagementDetails()" style="width: 85px; padding: 10px;" class="common_buttonn button_height" tabindex="6">
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lobipanel-parent-sortable ui-sortable" data-lobipanel-child-inner-id="8DFfPWWETT">
      <div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="8DFfPWWETT" data-index="0">
        <div class="panel-heading ui-sortable-handle">
          <div class="panel-title" style="max-width: calc(100% - 90px);">
            <div class="">
              <button class="btn btn-success btn-sm" ng-click="filterPopup = true" onclick="$('.filter-section-mobile').toggle();">
                <i class="hvr-buzz-out fa fa-reorder"></i>
              </button>



            </div>
          </div>
        <div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li><li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li><li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li></ul><div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span></div></div></div>
        <div class="panel-body">

          <div class="table-responsive" style="padding: 10px;">
            <table style="color: rgb(232 232 232)" id="load_data" class="table table-bordered table-hover table-striped table-condensed reports-table">
              <thead style="border-bottom: 2px solid #2a3f54;">
                <tr style="border-bottom: 2px solid #2a3f54;">
                  <th></th>
                  <th colspan="2" style="text-align: center">NSEFUT</th>
                  <th colspan="2" style="text-align: center">MCXFUT</th>
                  <th colspan="2" style="text-align: center">NSEOPT</th>
                  <th colspan="2" style="text-align: center">TOTAL</th>
                </tr>
                <tr style="line-height: 0">
                  <th class="th-padding-0" style="width: 100px;">NAME</th>
                  <th class="th-padding-0" style="min-width: 150px">Amount</th>
                  <th class="th-padding-0" style="min-width: 100px">Lot</th>
                  <th class="th-padding-0" style="min-width: 150px">Amount</th>
                  <th class="th-padding-0" style="min-width: 100px">Lot</th>
                  <th class="th-padding-0" style="min-width: 150px">Amount</th>
                  <th class="th-padding-0" style="min-width: 100px">Lot</th>
                  <th class="th-padding-0" style="min-width: 150px">Amount</th>
                  <th class="th-padding-0" style="min-width: 100px">Lot</th>
                </tr>
              </thead>
              <tbody>
                <!-- ngRepeat: marginManagementData in marginManagementDatas --><tr ng-repeat="marginManagementData in marginManagementDatas" class="ng-scope">
                  <td class="ng-binding">Total</td>
                  <td class="ng-binding">0 / 1,000,000,000</td>
                  <td class="ng-binding">0 / 0</td>
                  <td class="ng-binding">0 / 0</td>
                  <td class="ng-binding">0 / 100</td>
                  <td class="ng-binding">0 / 0</td>
                  <td class="ng-binding">0 / </td>
                  <td class="ng-binding">0 / 1,000,000,000</td>
                  <td class="ng-binding">0 / 100</td>
                </tr><!-- end ngRepeat: marginManagementData in marginManagementDatas -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div></section>
