<section class="heder-section">
  <div class="header-title">
    <p class="pageTitle2">Rules</p>
  </div>
</section>

<div id="ajax-targ" ui-view="" class="ng-scope padding_5">

  <h4 class="ng-scope">NSE</h4>
  <ul class="ng-scope">
    <li>
      <strong>Trading starts at 09:16 IST, trading closes at 15:30 IST however position
        square off is allowed till 15:35.</strong>
    </li>
    <li>
      <strong>Pending Trades will be automatically deleted after market closes.</strong>
    </li>
    <li>
      <strong>Dividend will be subtracted from portfolio before the day of
        dividend.</strong>
    </li>
    <li>
      <strong>Platform will not accept limit while market is closed.</strong>
    </li>
    <li>
      <strong>Limit cannot be set above 4% of ask/bid rates respectively.</strong>
    </li>
    <li>
      <strong>Limit has to be outside the range of ask/bid respectively.</strong>
    </li>
    <li>
      <strong>Buy Limit/Sell Limit and Buy Stop Loss/Sell Stop Loss will executed buy
        Bid/Ask prices and NOT LTP respectively.</strong>
    </li>
    <li>
      <strong>Only position square off will be allowed in banned scripts, no new trades
        will be accepted.</strong>
    </li>
    <li>
      <strong>During Buy Circuit, no new buy will be accepted or sell position will be
        allowed to square off, vice versa during Sell Circuit.</strong>
    </li>
    <li>
      <strong>Executed Trades cannot be edited or deleted by masters or users or system
        admin.</strong>
    </li>
    <li>
      <strong>Line Trades will be nulled by System Admin anytime.</strong>
    </li>
    <li>
      <strong>Buying forward and Bill generation will be done at 11:00 Every Saturday
        IST.</strong>
    </li>
    <li>
      <strong>Quantity and Maximum Position per script will be based upon your account
        type which can been checked in Futures-&gt;Max Quantity Details</strong>
    </li>
    <li>
      <strong>If you are facing any issues while closing trade from market watch, close
        that trade/position from Portfolio.</strong>
    </li>
  </ul>

  <h4 class="ng-scope">MCX</h4>
  <ul class="ng-scope">
    <li>
      <strong>Trading starts at 09:01 IST, trading closes at 23:30/23:55 IST however
        position square off is allowed till 23:35/23:55 based upon daylight
        savings.</strong>
    </li>
    <li>
      <strong>Pending Trades will be automatically deleted after market closes.</strong>
    </li>
    <li>
      <strong>Platform will not accept limit while market is closed.</strong>
    </li>
    <li>
      <strong>Limit cannot be set above 4% of ask/bid rates respectively.</strong>
    </li>
    <li>
      <strong>Limit has to be outside the range of ask/bid respectively.</strong>
    </li>
    <li>
      <strong>Buy Limit/Sell Limit and Buy Stop Loss/Sell Stop Loss will executed buy
        Bid/Ask prices and NOT LTP respectively.</strong>
    </li>
    <li>
      <strong>During Buy Circuit, no new buy will be accepted or sell position will be
        allowed to square off, vice versa during Sell Circuit.</strong>
    </li>
    <li>
      <strong>Executed Trades cannot be edited or deleted by masters or users or system
        admin.</strong>
    </li>
    <li>
      <strong>Line Trades will be nulled by System Admin anytime.</strong>
    </li>
    <li>
      <strong>Buying forward and Bill generation will be done at 11:00 Every Saturday
        IST.</strong>
    </li>
    <li>
      <strong>Quantity and Maximum Position per script will be based upon your account
        type which can been checked in Futures-&gt;Max Quantity Details</strong>
    </li>
  </ul>
  <ul class="rules" ng-if="false">
    <li>
      1. Jobbing and Arbitrage is strickly prohibited in our platform
    </li>
    <li>
      2. Cheating and Line and chakri trades are strickly prohibited in our platform.
    </li>
    <li>
      3. In trades if Same ip-address found in multiple accounts then trade will be not counted.
    </li>
    <li style="display:none;">
      4. BTST/STBT not allowed. If found then it will be deleted.
    </li>
    <li>
      4. Dividend declaration or share spilt etc. On any share then position will be square off on day before closing
      rate.
    </li>
    <li>
      5. If found same trades in multiple accounts then trades will be not counted.
    </li>
    <li>
      6. Incase above type of activity found in any account, trades will be deleted and informed to
      client/master/manager during the market.
    </li>
    <li>
      7. Open position will be squar offf on buyer/seller quote. Not on bhavcopy or exchange settlement price.
    </li>
    <li>
      8. Any trade found doubtful then it will deleted.
    </li>
    <li>
      9. Locker / parking / standing trade system not allowed. So request you do trade regularly otherwise action will
      be taken.
    </li>
    <li style="display:none;">
      11. If trades less then 20 min it called short trade and short trade timing. This type of trade will be deleted by
      system.
    </li>
    <li>
      Marvel Exch
    </li>
  </ul>

  <h4>* नियम और विनियम *</h4>
  <ul class="rules" ng-if="false">
    <li>
      1. हमारे प्लेटफॉर्म में जॉबिंग और आर्बिट्रेज सख्त वर्जित है
    </li>
    <li>
      2. हमारे मंच में धोखाधड़ी और लाइन और चक्री व्यापार सख्त वर्जित हैं
    </li>
    <li>
      3. अगर सेम आईपी ऐड्रेस से कई अकाउंट में ट्रेड मिल रहे हैं तो उसे डिलीट किए जाएंगे।
    </li>
    <li>
      4. अगर किसी भी स्क्रिप्ट में डिविडेंड डिक्लेयर्ड होता है उस स्क्रिप्ट में जिसकी भी जो भी पोजीशन रहेगी वह गये दिन
      के क्लोजिंग रेट के हिसाब से क्लोज कर दी जाएगी।
    </li>
    <li>
      5. अगर किसी मास्टर के या किसी क्लाइंट के कई अकाउंट में सेम पोजीशन या सेम ट्रेड्स मिलेंगे तो उसे भी रद्द किया जाएगा
      और डिलीट किया जाएगा।
    </li>
    <li>
      6. किसी भी खाते में उपरोक्त प्रकार की गतिविधि पाए जाने पर, किसी भी समय के दौरान ट्रेड हटा दिया जाएगा और
      ग्राहक/मास्टर/प्रबंधक को सूचित किया जाएगा।
    </li>
    <li>
      7. ट्रेडिंग समय एफएनओ 9:16 से 3.30 एमसीएक्स 9:01 से 23:30 सभी सीमा - स्टॉप लॉस - बाय स्टॉप - सेल स्टॉप कैंसिल
      23:55
    </li>
    <li>
      8. कोई भी डाउटफुल ट्रेड मिलने पर उसे डिलीट किया जाएगा।
    </li>
    <li>
      9. जो भी स्क्रिप्ट बेन होगी उसे हटा दिया जाएगा।
    </li>
    <li>
      10. लॉकर/पार्किंग/स्टैंडिंग सिस्टम की अनुमति नहीं है इसलिए नियमित रूप से व्यापार करें, अन्यथा कार्रवाई की जाएगी।
    </li>
    <li style="display:none;">
      11. सौदा कम से कम 20 मिनट रहना चाहिए ।
    </li>
    <li style="display:none;">
      12. BTST/STBT ट्रेड ऑटोमैटिकली डिलीट हो जाएगा ।
    </li>
    <li>
      Marvel Exch
    </li>

  </ul> -->
</div>