
<section class="marqueeStyle-header ng-scope">
  <div class="header-title">
    <p class="pageTitle ng-binding">Cash Entry</p>

    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee" class="marqueeStyle">
      MCX ALUMINIUM, COPPER, LEAD &amp; ZINC ALL WILL EXPIRES TODAY(23SEP,MON), SO ROLLOVER YOUR POSITION BEFORE MARKET
      CLOSE, OTHERWISE CLOSE BY BID-ASK RATE...
    </marquee>
  </div>
</section>




<section class="content ng-scope">

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 lobipanel-parent-sortable ui-sortable" data-lobipanel-child-inner-id="mbfGfNkjG9">
			<div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="mbfGfNkjG9" data-index="0">
				<div class="panel-heading ui-sortable-handle" style="padding: 5px">
					<div class="panel-title" style="max-width: calc(100% - 90px);">
						<p class="headingGoldTableBox" style="line-height: 30px !important;">Cash Entry</p>
					</div>
				<div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li><li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li><li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li></ul><div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span></div></div></div>
				<div class="panel-body">
					<div class="Workslist">
						<div class="worklistdate overflow-auto">
							<div class="col-md-12" style="padding: 0px;">
								<div class="col-12 col-xs-6 col-sm-12 col-lg-12 col-xl-6">

										<label class="col-sm-3 col-form-label">User Type</label>
										<div class="col-sm-7">
											<select ng-model="addUserType" id="addUserType" tabindex="1" class="form-control clienttype ng-pristine ng-untouched ng-valid"><option value="? undefined:undefined ?"></option>
												<!-- ngIf: $root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 || $root.userInfo.userType == 2 --><option ng-if="$root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 || $root.userInfo.userType == 2" value="1" class="ng-scope">Customer</option><!-- end ngIf: $root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 || $root.userInfo.userType == 2 -->

												<!-- ngIf: $root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 --><option ng-if="$root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 " value="2" class="ng-scope">Master</option><!-- end ngIf: $root.userInfo.userType == 7 || $root.userInfo.userType == 4 || $root.userInfo.userType == 3 -->
												<!-- ngIf: $root.userInfo.userType == 7 || $root.userInfo.userType == 4 -->
												<!-- ngIf: $root.userInfo.userType == 7 -->
												<!-- ngIf: $root.userInfo.userType == 6 -->
												<!-- ngIf: $root.userInfo.userType == 8 -->
												<!-- ngIf: $root.userInfo.userType != 6 && $root.userInfo.userType != 8 --><option ng-if="$root.userInfo.userType != 6 &amp;&amp; $root.userInfo.userType != 8" value="5" class="ng-scope">Broker</option><!-- end ngIf: $root.userInfo.userType != 6 && $root.userInfo.userType != 8 -->
											</select>

									</div>
								</div>
							</div>
							<div class="col-12 col-xs-6 col-sm-12 col-lg-12 col-xl-6">
								<div class="">

									<label class="col-sm-3 col-form-label">Cash Book</label>
									<div class="col-sm-7">
										<input tabindex="5" type="text" value="My Cash Book" class="form-control" disabled="">
									</div>

								</div>
								<span class="col-12 col-md-12 col-lg-12 col-xl-12">
									<label class="col-sm-10 col-form-label text-align-right ng-binding" style="color:blue">0.00</label>
								</span>
							</div>
							<!-- <div class="col-12 col-lg-6 col-xl-6">
								<label class="col-sm-5 col-form-label" >{{creditDebitMyCash | number :
									2}}{{es1}}</label>
							</div> -->

								<div class="">

									<label class="col-sm-3 col-form-label ng-binding">Select</label>
									<div class="col-sm-7">
										<input tabindex="2" type="text" id="addUserKeyword" name="addUserKeyword" ng-model="addUserKeyword" data-placeholder="Select Client" ng-change="clientChanged()" ui-autocomplete="jqueryUiOptions" class="form-control ng-pristine ng-untouched ng-valid ui-autocomplete-input" autocomplete="off">
									</div>
									<span class="col-12 col-md-12 col-lg-12 col-xl-12">
										<label class="col-sm-10 col-form-label text-align-right ng-binding" ></label>
									</span>
								</div>



							<div class="col-12 col-sm-12 col-lg-12 col-xl-6">

								<div class="">

									<label class="col-sm-3 col-form-label">Type</label>
									<div class="col-sm-7">
										<div class=" custom-radio d-block float-left">
											<input ng-model="balanceTypeA" type="radio" value="1" id="gross_partnership1" name="net_gross_partner1" class="custom-control-input ng-pristine ng-untouched ng-valid" checked="checked">
											<label for="gross_partnership1" class="custom-control-label">Receipt</label>

											<input ng-model="balanceTypeA" type="radio" value="0" id="net_partnership1" name="net_gross_partner1" class="custom-control-input  ng-pristine ng-untouched ng-valid" style="margin-left: 10px;">
											<label for="net_partnership1" class="custom-control-label">Payment</label>
										</div>
									</div>
								</div>

								<div class="">

									<label class="col-sm-3 col-form-label">Date</label>
									<div class="col-sm-7 col-xs-12">
										<input style="font-weight:bold; min-width: 95% !important;" tabindex="3" ng-model="date1" onkeydown="preventDatePickerOnEnter(event)" type="date" id="date1" class="form-control ng-pristine ng-untouched ng-valid">
									</div>
								</div>

								<div class="">

									<label class="col-sm-3 col-form-label">Amount</label>
									<span class="col-sm-7">
										<input tabindex="4" style="font-weight:bold;" ng-model="amountA" id="amount" type="number" class="form-control ng-pristine ng-untouched ng-valid">
										<p class="digitToLetter ng-binding"></p>
									</span>

								</div>
								<div class="col-12  col-sm-12 col-lg-12 " style="margin-bottom: 15px;">

									<label class="col-3 col-lg-3 col-md-3 col-form-label d-sm-none"></label>
									<div class="col-7 col-lg-7 col-md-7 col-sm-12">
										<span class="col-sm-12" style="text-align: start;">
											<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(50000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 50px;
											">50K</button>
											<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(100000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 40px;
												">1L</button>
												<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(200000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 40px;
												">2L</button>
														<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(300000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 40px;
														">3L</button>
																<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(500000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 40px;
																">5L</button>
																		<button tabindex="6" ng-disabled="disableActions" ng-click="addAmountText(1000000)" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 40px;
																		">10L</button>
										</span>
									</div>
								</div>
								<div class="col-12  col-sm-12 col-lg-12 ">

									<label class="col-sm-3 col-form-label">Remarks</label>
									<div class="col-sm-7">
										<input type="text" tabindex="5" rows="2" ng-model="remarksA" id="remarksA" class="form-control ng-pristine ng-untouched ng-valid">
									</div>
								</div>

								<div class="col-12  col-sm-12 col-lg-12 " style="margin-bottom: 15px;">

									<label class="col-3 col-lg-3 col-md-3 col-form-label d-sm-none"></label>
									<div class="col-7 col-lg-7 col-md-7 col-sm-12">
										<span class="col-sm-12" style="text-align: start;">
											<button tabindex="6" id="saveB" ng-disabled="disableActions" ng-click="addRemarkText('Point In')" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 27px;width: 100px;
												">Point In</button>
											<button id="clearB" tabindex="7" ng-click="addRemarkText('Point Out')" type="reset" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;border-bottom: 3px solid red;height: 27px;margin-left:10px ; width: 100px;
												">Point Out</button>
										</span>
									</div>
								</div>
								<div class="" style="text-align: center;">
									<span class="col-sm-12" style="text-align: center;">
										<button tabindex="6" id="saveB" ng-disabled="disableActions" ng-click="addEntryConf()" type="button" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;     height: 34px;
											">Save</button>
										<button id="clearB" tabindex="7" ng-click="clearEntry()" type="reset" class="common_buttonn width_remove" style="border-radius: 2px;padding: 11px 20px;border-bottom: 3px solid red;     height: 34px;
											">Clear</button>
									</span>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 lobipanel-parent-sortable ui-sortable" data-lobipanel-child-inner-id="aKvrhe1hx1">
			<div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="aKvrhe1hx1" data-index="0">
				<div class="panel-heading ui-sortable-handle" style="padding: 5px">
					<div class="panel-title" style="max-width: calc(100% - 90px);">
						<p class="headingGoldTableBox" style="line-height: 30px !important;">Cash Ledger</p>
					</div>
				<div class="dropdown"><ul class="dropdown-menu dropdown-menu-right"><li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li><li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li><li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen" data-placement="bottom" data-original-title="" title=""><i class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li></ul><div class="dropdown-toggle" data-toggle="dropdown"><span class="panel-control-icon glyphicon glyphicon-cog"></span></div></div></div>
				<div class="panel-body">
					<div class="Workslist">
						<div class="worklistdate overflow-auto">
							<div class="">

								<div class="Overlay_class">
									<div class="col-6 col-md-3" style="">
										<label class="change-label-color">Select</label>
										<div class="select2-container ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_client" style="width: 0px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen115"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><input type="hidden" id="client" ui-select2="select2Options" style="height: 34px !important;" ng-model="addUserKeyword1" data-placeholder="Select" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1">
									</div>
									<div class="col-6 col-md-3" style="">
										<label class="change-label-color">Entry After</label>
										<input ng-model="entryAfter" id="entryAfter" type="date" value="" style="     height: 34px !important;" class="form-control ng-pristine ng-untouched ng-valid">
									</div>
									<div class="col-6 col-md-3" style="">
										<label class="change-label-color">Entry Before</label>
										<input ng-model="entryBefore" id="entryBefore" type="date" value="" style="     height: 34px !important;" class="form-control ng-pristine ng-untouched ng-valid">
									</div>
									<div class="col-6 col-md-3 btn_class_cnt">
										<button ng-click="findLedger()" type="button" class="common_buttonn" style="padding: 11px; border-radius: 3px;     height: 34px;
											">Submit</button>
									</div>

								</div>
								<div class="table-responsive ">
									<div id="load_data_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="load_data_length"><label>Show <select name="load_data_length" aria-controls="load_data" class=""><option value="15">15</option><option value="50">50</option><option value="100">100</option><option value="200">200</option></select> entries</label></div><div id="load_data_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="load_data"></label></div><table style="text-align: left; width: 887px;" id="load_data" class="table table-bordered table-hover table-striped table-condensed reports-table dataTable no-footer ng-scope" role="grid" aria-describedby="load_data_info">
										                      <thead style="border-bottom: 2px solid #2a3f54;">
											<tr role="row"><th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 141px;">Name</th><th class="sorting_desc" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1" aria-sort="descending" aria-label="Date: activate to sort column ascending" style="width: 99px;">Date</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Debit" style="width: 109px;">Debit</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Credit" style="width: 124px;">Credit</th><th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1" aria-label="Remark: activate to sort column ascending" style="width: 172px;">Remark</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action" style="width: 130px;">Action</th></tr>
										</thead>
										<tbody>

										<tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr></tbody>
									</table><div class="dataTables_info" id="load_data_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div><div class="dataTables_paginate paging_simple_numbers" id="load_data_paginate"><a class="paginate_button previous disabled" aria-controls="load_data" data-dt-idx="0" tabindex="-1" id="load_data_previous">Previous</a><span></span><a class="paginate_button next disabled" aria-controls="load_data" data-dt-idx="1" tabindex="-1" id="load_data_next">Next</a></div></div>
								</div>

							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
