<section class="marqueeStyle-header ng-scope">
  <div class="header-title">
    <p class="pageTitle ng-binding">Script Block Allow</p>

    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee"
      class="marqueeStyle">
      MCX ALUMINIUM, COPPER, LEAD &amp; ZINC ALL WILL EXPIRES TODAY(23SEP,MON), SO ROLLOVER YOUR POSITION BEFORE MARKET
      CLOSE, OTHERWISE CLOSE BY BID-ASK RATE...
    </marquee>
  </div>
</section>
<!-- Script Block Allow -->
<section class="content ng-scope">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-section-mobile lobipanel-parent-sortable ui-sortable"
      style="display: none;" data-lobipanel-child-inner-id="OtTDM7djEK">
      <div class="panel panel-bd lobidisable bg-lobidisable lobipanel lobipanel-sortable" data-inner-id="OtTDM7djEK"
        data-index="0">
        <div class="panel-body" style="padding-top: 8px; padding-bottom: 10px">
          <div class="Workslist">
            <div class="worklistdate">
              <div class="Overlay_class">
                <div ng-show="$root.userInfo.userType != 6 &amp;&amp; $root.userInfo.userType&nbsp;!=&nbsp;8"
                  class="col-12 col-lg-2 col-xl-2">
                  <div class="">
                    <div class="col-sm-12">
                     <div class="form-group">
                    <label for="marketSelect">Select Userr</label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 col-xl-2">
                  <div class="">
                    <div class="col-sm-12">
                    <div class="form-group">
                    <label for="marketSelect">Select Master</label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 col-xl-2">
                  <div class="">
                    <div class="col-sm-12">
                     <div class="form-group">
                    <label for="marketSelect">Select Market</label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                    </div>

                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-2 col-xl-2">
                  <div class="">
                    <div class="col-sm-12">
                    <div class="form-group">
                    <label for="marketSelect">Select Script</label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 col-xl-2 mt-5">
                  <div class="col-6 col-lg-6 col-xl-6 " style="display: flex; flex-wrap: wrap; align-items: center">
                    <div class="mb-1">
                      <div class="col-sm-12">
                        <button ng-disabled="disableActions" ng-click="addBlock()" type="button"
                          class="common_buttonn button_height " style="width: 100px">
                          <i class="fa fa-plus"></i>
                          <span> Add </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-lg-6 col-xl-6" style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      width: 100px;

                    ">
                    <div class="mb-1">
                      <div class="col-sm-12">
                        <button ng-disabled="disableActions" ng-click="removeBlockAll()" type="button"
                          class="common_buttonn button_height" style="border-bottom: 3px solid red ;">

                          <span> Remove </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lobipanel-parent-sortable ui-sortable"
      data-lobipanel-child-inner-id="A03k6aURe2">
      <div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="A03k6aURe2" data-index="0">
        <div class="panel-heading ui-sortable-handle">
          <div class="panel-title" style="max-width: calc(100% - 90px);">
            <div class="">
              <button class="btn btn-success btn-sm" ng-click="filterPopup = true"
                onclick="$('.filter-section-mobile').toggle();" style="background-color: #fff; color: rgb(14, 119, 14)">
                <i class="bi bi-menu-button"></i>
              </button>
            </div>
          </div>
          <div class="dropdown">
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
              <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
              <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
            </ul>
            <div class="dropdown-toggle" data-toggle="dropdown"><span
                class="panel-control-icon glyphicon glyphicon-cog"></span></div>
          </div>
        </div>

        <div class="table-responsive" style="padding: 10px">
          <div id="load_data_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="load_data_length"><label>Show <select name="load_data_length"
                  aria-controls="load_data" class="">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select> entries</label></div>
            <div id="load_data_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                  placeholder="" aria-controls="load_data"></label></div>
            <table id="load_data"
              class="table table-bordered table-hover table-striped table-condensed reports-table dataTable no-footer"
              style="color: #fff !important" role="grid" aria-describedby="load_data_info">
              <thead style="border-bottom: 2px solid #2a3f54">
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Client Name: activate to sort column descending"
                    style="width: 486px;">Client Name</th>
                  <th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1"
                    aria-label="Market: activate to sort column ascending" style="width: 320px;">Market</th>
                  <th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1"
                    aria-label="Script: activate to sort column ascending" style="width: 281px;">Script</th>
                  <th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1"
                    aria-label="Time: activate to sort column ascending" style="width: 252px;">Time</th>
                  <th class="sorting" tabindex="0" aria-controls="load_data" rowspan="1" colspan="1"
                    aria-label="Remove: activate to sort column ascending" style="width: 353px;">Remove</th>
                </tr>
              </thead>
              <tbody>
                <!-- ngRepeat: data in dataList1 -->
                <tr class="odd">
                  <td valign="top" colspan="5" class="dataTables_empty">No data available in table</td>
                </tr>
              </tbody>
            </table>
            <div class="dataTables_info" id="load_data_info" role="status" aria-live="polite">Showing 0 to 0 of 0
              entries</div>
            <div class="dataTables_paginate paging_simple_numbers" id="load_data_paginate"><a
                class="paginate_button previous disabled" aria-controls="load_data" data-dt-idx="0" tabindex="-1"
                id="load_data_previous">Previous</a><span></span><a class="paginate_button next disabled"
                aria-controls="load_data" data-dt-idx="1" tabindex="-1" id="load_data_next">Next</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
