
<!-- Header Ti -->
<section class="marqueeStyle-header ng-scope" ng-if="$root.userInfo.navMenu">
  <div class="header-title" ng-show="$root.userInfo.pageTitle">
    <p class="pageTitle ng-binding">Transfer Setting</p>
    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee"
      class="marqueeStyle">
      NSE(FNO), NIFTY &amp; GIFT NIFTY ALL WILL EXPIRES TODAY(26SEP,THU)...
    </marquee>
  </div>
</section>

<!-- Transfer Setting Start -->
<section class="content ng-scope">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lobipanel-parent-sortable ui-sortable" data-lobipanel-child-inner-id="K8tXHatdUG">
      <div class="panel panel-bd lobidisable bg-lobidisable lobipanel lobipanel-sortable" data-inner-id="K8tXHatdUG" data-index="0">
        <div class="panel-body" style="padding-top: 8px; padding-bottom: 10px">
          <div class="Workslist">
            <div class="worklistdate">
              <div class="Overlay_class">
                <div class="col-md-1 col-sm-2 col-xs-3" style="margin: 10px 0 0 0">
                  <div style="display: flex; justify-content: space-evenly">
                    <label class="" for="is_client">Client </label>
                    <input ng-model="is_master" id="is_client" ng-click="addUserKeyword=''" name="is_master" type="radio" value="1" checked="" style="margin: 0px -2px 0px" class="m-0 p-0 pt-1 ng-pristine ng-untouched ng-valid">
                  </div>
                  <div ng-show="$root.userInfo.userType != 5 &amp;&amp; $root.userInfo.userType != 2" style="display: flex; justify-content: space-evenly">
                    <label class="" for="is_master">Master</label>
                    <input ng-model="is_master" id="is_master" ng-click="addUserKeyword=''" name="is_master" type="radio" value="4" style="margin: 0px 2px 0px" class="m-0 p-0 pt-1 ng-pristine ng-untouched ng-valid">
                  </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3">
                  <label class="change-label-color ng-binding">From Client</label>
                  <div class="select2-container ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_client" style="width: 0px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select Client</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen29"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><input type="hidden" id="client" ui-select2="select2Options" ng-model="addUserKeyword" data-placeholder="Select Client" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1" style="">
                </div>

                <div class="col-md-2 col-sm-2 col-xs-3 NotAll">
                <label class="control-label align-label-center ng-binding">To Client</label>
                <div class="select2-container select2-container-multi ng-untouched ng-valid ng-valid-required ng-pristine" id="s2id_client12" style="width: 0px;">    <ul class="select2-choices">  <li class="select2-search-field">    <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input select2-default" id="s2id_autogen30" style="width: 302px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   <li class="select2-no-results">No matches found</li><li class="select2-no-results">No matches found</li><li class="select2-no-results">No matches found</li></ul></div></div><input type="hidden" id="client12" multiple="" ui-select2="select2Options" ng-model="addUserKeyword123" class="ng-pristine ng-untouched ng-valid select2-offscreen ng-valid-parse" tabindex="-1" value="" style="">
              </div>
              <div class="col-md-2 col-sm-2 col-xs-3">
                <label class="change-label-color">Market Name</label>
                <div class="select2-container ng-untouched ng-valid ng-valid-parse ng-pristine" id="s2id_segment" style="width: 24px;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Select</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen31"><div class="select2-drop select2-display-none">   <div class="select2-search select2-search-hidden select2-offscreen">       <input type="text" autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select id="segment" ui-select2="{ allowClear: true}" data-placeholder="Segment" ng-model="selectMarket" placeholder="Select" class="ng-untouched ng-valid select2-offscreen ng-valid-parse ng-pristine" tabindex="-1">
                  <option value=""></option>
                  <!-- ngRepeat: market in markets --><option ng-repeat="market in markets" value="2" class="ng-binding ng-scope">
                    NSE
                  </option><!-- end ngRepeat: market in markets --><option ng-repeat="market in markets" value="1" class="ng-binding ng-scope">
                    MCX
                  </option><!-- end ngRepeat: market in markets -->
                </select>
              </div>
                <div class="col-md-2 col-sm-2 col-xs-3">
                  <label class="change-label-color"> Transfer Type</label>
                  <select ng-model="TransferType" id="TransferType" class="form-control ng-pristine ng-untouched ng-valid">
                    <option value="">

                  </option>
                    <option value="1">
                      Script Block-Allow
                    </option>

                  </select>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                  <button style="
                      margin-top: 22px;

                      padding: 5px 36px !important;
                    " ng-click="addTransferType()" type="button" ng-disabled="addRangeButton" class="btn common_buttonn button_height">

                    <!-- ngIf: !addRangeButton --><span ng-if="!addRangeButton" class="ng-scope">Submit</span><!-- end ngIf: !addRangeButton -->
                    <!-- ngIf: addRangeButton -->
                  </button>

                  <button style="
                      margin-top: 22px;

                      border-bottom: 3px solid red;
                    " ng-click="clearFilter()" type="button" ng-disabled="addRangeButton" class="btn common_buttonn button_height">
                    Reset
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div></section>
