<div class="site-wrapper">
  <!-- Top bar -->
  <app-topbar (toggleSideNav)="onToggleSideNav($event)"></app-topbar>

  <!-- Main Content Wrapper -->
  <div class="main-content">
    <!-- Side bar -->
    <app-sidebar [ngClass]="{ 'collapsed': !isSideNavOpen }" [isSideNavOpen]="isSideNavOpen"></app-sidebar>

    <!-- Content Area -->
    <div class="content-area">
      <!-- <app-top-navigation></app-top-navigation> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- Bottom Navigation Tab for mobile -->
<app-bottombar></app-bottombar>
