<!-- Header Ti -->
<section class="marqueeStyle-header ng-scope" ng-if="$root.userInfo.navMenu">
  <div class="header-title" ng-show="$root.userInfo.pageTitle">
    <p class="pageTitle ng-binding">Blocked Scripts</p>
    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee"
      class="marqueeStyle">
      NSE(FNO), NIFTY &amp; GIFT NIFTY ALL WILL EXPIRES TODAY(26SEP,THU)...
    </marquee>
  </div>
</section>

<!-- Blocked Scripts Settings -->
<section class="content ng-scope">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  lobipanel-parent-sortable ui-sortable"
      data-lobipanel-child-inner-id="0AKlnnlAIj">
      <div class="panel panel-bd panel-bg lobidisable bg-lobidisable lobipanel lobipanel-sortable"
        data-inner-id="0AKlnnlAIj" data-index="0">
        <div class="panel-body" style="padding-top: 8px; padding-bottom: 10px">
          <div class="Workslist">
            <div class="worklistdate">
              <div class="ovwelay_apply">


                <div class="col-4 col-md-2" ng-show="$root.userInfo.userType != 1">
                  <div class="form-group">
                    <label for="marketSelect">Client </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-2"
                  ng-show="$root.userInfo.userType != 1 &amp;&amp; $root.userInfo.userType != 5">
                  <div class="form-group">
                    <label for="marketSelect">Broker </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-2"
                  ng-show="$root.userInfo.userType != 1 &amp;&amp; $root.userInfo.userType != 5">
                  <div class="form-group">
                    <label for="marketSelect">Master </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-1"
                  style="display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-end;">
                  <button style="width: 80px; padding: 10px; margin-top: 25px;"
                    class="common_buttonn button_height res_center" tabindex="6">
                    Search
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lobipanel-parent-sortable ui-sortable"
      data-lobipanel-child-inner-id="DiCsr7orMo">

      <div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="DiCsr7orMo" data-index="0">
        <div class="panel-heading ui-sortable-handle">
          <div class="panel-title" style="max-width: calc(100% - 90px);">
            <div class="" style="color: aliceblue;">
              <!-- <button
						  class="btn btn-success btn-sm"
						  ng-click="filterPopup = true"
						  onclick="$('.filter-section-mobile').toggle();"
						>
						  <i class="hvr-buzz-out fa fa-reorder"></i>
						</button> -->
              Banned/Blocked Scripts


            </div>
          </div>
          <div class="dropdown">
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
              <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
              <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
            </ul>
            <div class="dropdown-toggle" data-toggle="dropdown"><span
                class="panel-control-icon glyphicon glyphicon-cog"></span></div>
          </div>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table style="color: rgb(232 232 232);" id="example"
              class="table table-hover table-striped table-condensed reports-table">
              <thead style="border-bottom: 2px solid #2a3f54;">
                <tr>
                  <th>Scrips</th>
                  <th>Blocked By</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>BALRAMCHIN</td>
                  <td>BLOCKED BY NSE</td>
                </tr>
                <tr>
                  <td>BANDHANBNK</td>
                  <td>BLOCKED BY NSE</td>
                </tr>
                <tr>
                  <td>HINDCOPPER</td>
                  <td>BLOCKED BY NSE</td>
                </tr>
                <tr>
                  <td>RBLBANK</td>
                  <td>BLOCKED BY NSE</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>