<section class="marqueeStyle-header ng-scope">
  <div class="header-title">
    <p class="pageTitle ng-binding">Rejection Logs</p>

    <marquee class="marqueeStyle ng-binding" behavior="" direction="left" width="100%" id="appMarquee"
      class="marqueeStyle">
      MCX ALUMINIUM, COPPER, LEAD &amp; ZINC ALL WILL EXPIRES TODAY(23SEP,MON), SO ROLLOVER YOUR POSITION BEFORE MARKET
      CLOSE, OTHERWISE CLOSE BY BID-ASK RATE...
    </marquee>
  </div>
</section>

<!-- Rejection Logs Component -->


<section class="content ng-scope">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-section-mobile lobipanel-parent-sortable ui-sortable"
      style="" data-lobipanel-child-inner-id="5f2I6HnBoa">
      <div class="panel panel-bd panel-bg obidisable bg-lobidisable lobipanel lobipanel-sortable"
        data-inner-id="5f2I6HnBoa" data-index="0">
        <div class="panel-body" style="padding-top: 8px; padding-bottom: 10px">
          <div class="Workslist">
            <div class="worklistdate">
              <div class="Old_Query">
                <div class="col-4  col-sm-6 col-md-1 form-group">
                  <label>From Date</label>
                  <input type="date" ng-model="tradeAfter" name="start_date"
                    class="form-control width_full ng-pristine ng-untouched ng-valid" id="start_date">
                </div>
                <div class="col-4 col-md-1 form-group">
                  <label>To Date</label>
                  <input type="date" ng-model="tradeBefore" name="end_date"
                    class="form-control width_full ng-pristine ng-untouched ng-valid" id="end_date">
                </div>
                <div class="col-4 col-md-1">
                  <div class="form-group">
                    <label for="marketSelect"> Type</label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-md-1">
                  <div class="form-group">
                    <label for="marketSelect"> Segment </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-1">
                  <div class="form-group">
                    <label for="marketSelect"> Script Name </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div ng-show="$root.userInfo.userType != 1" class="col-4 col-md-1">
                  <div class="form-group">
                    <label for="marketSelect"> Select Client </label>
                    <div class="dropdown">
                      <input type="text" class="form-control" placeholder="Select" [(ngModel)]="searchTerm"
                        (focus)="showDropdown()" (blur)="hideDropdown()" (input)="filterOptions()" id="marketSelect"
                        aria-expanded="false" data-bs-toggle="dropdown" />
                      <ul class="dropdown-menu w-100" *ngIf="dropdownVisible && filteredMarkets.length > 0"
                        aria-labelledby="marketSelect">
                        <li *ngFor="let market of filteredMarkets">
                          <a class="dropdown-item" href="#" (mousedown)="selectMarket(market)">{{ market }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-4 col-md-1 mt-4">
                  <button ng-click="getRejectionLogs()" style="width: 86px; padding: 10px"
                    class="common_buttonn button_height" tabindex="6">
                    Search
                  </button>
                </div>
                <div class="col-4 col-md-1 mt-4">
                  <button ng-click="clearFilter()" style="
                        width: 86px;
                        padding: 10px;
                        border-bottom: 3px solid red;
                      " class="common_buttonn button_height" tabindex="7">
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12"> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lobipanel-parent-sortable ui-sortable"
      data-lobipanel-child-inner-id="tCzQEdTX3B">
      <div class="panel panel-bd lobidisable lobipanel lobipanel-sortable" data-inner-id="tCzQEdTX3B" data-index="0">
        <div class="panel-heading ui-sortable-handle">
          <div class="panel-title" style="max-width: calc(100% - 90px);">
            <div class="">
              <button class="btn btn-success btn-sm" ng-click="filterPopup = true"
                onclick="$('.filter-section-mobile').toggle();">
                <i class="bi bi-menu-button-wide"></i>
              </button>
            </div>
          </div>
          <div class="dropdown">
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a data-func="unpin" data-tooltip="Unpin" data-toggle="tooltip" data-title="Unpin"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-move"></i><span class="control-title">Unpin</span></a></li>
              <li><a data-func="minimize" data-tooltip="Minimize" data-toggle="tooltip" data-title="Minimize"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-minus"></i><span class="control-title">Minimize</span></a></li>
              <li><a data-func="expand" data-tooltip="Fullscreen" data-toggle="tooltip" data-title="Fullscreen"
                  data-placement="bottom" data-original-title="" title=""><i
                    class="panel-control-icon ti-fullscreen"></i><span class="control-title">Fullscreen</span></a></li>
            </ul>
            <div class="dropdown-toggle" data-toggle="dropdown"><span
                class="panel-control-icon glyphicon glyphicon-cog"></span></div>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive" style="padding: 10px">
            <div id="load_data_wrapper" class="dataTables_wrapper no-footer">
              <div class="dataTables_length" id="load_data_length"><label>Show <select name="load_data_length"
                    aria-controls="load_data" class="">
                    <option value="15">15</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                  </select> entries</label></div>
              <div id="load_data_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                    placeholder="" aria-controls="load_data"></label></div>
              <table style="text-align: left; width: 1836px;" id="load_data"
                class="table table-hover table-striped table-condensed reports-table dataTable no-footer" role="grid"
                aria-describedby="load_data_info">
                <thead style="border-bottom: 2px solid #2a3f54">
                  <tr role="row">
                    <th style="text-align: left; width: 133px;" class="sorting_disabled" rowspan="1" colspan="1"
                      aria-label="Action">Action</th>
                    <th style="text-align: left; width: 143px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Client: activate to sort column ascending">Client</th>
                    <th style="text-align: left; width: 173px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending">Symbol</th>
                    <th style="text-align: left; width: 233px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Order Type: activate to sort column ascending">Order Type</th>
                    <th style="text-align: left; width: 90px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Lot: activate to sort column ascending">Lot</th>
                    <th style="text-align: left; width: 101px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Qty: activate to sort column ascending">Qty</th>
                    <th style="text-align: left; width: 234px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Order Price: activate to sort column ascending">Order Price
                    </th>
                    <th style="text-align: left; width: 197px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="Message: activate to sort column ascending">Message</th>
                    <th style="text-align: left; width: 142px;" class="sorting_desc" tabindex="0"
                      aria-controls="load_data" rowspan="1" colspan="1" aria-sort="descending"
                      aria-label="O.Time: activate to sort column ascending">O.Time</th>
                    <th style="text-align: left; width: 158px;" class="sorting" tabindex="0" aria-controls="load_data"
                      rowspan="1" colspan="1" aria-label="User Ip: activate to sort column ascending">User Ip</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="odd">
                    <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
                  </tr>
                </tbody>
              </table>
              <div class="dataTables_info" id="load_data_info" role="status" aria-live="polite">Showing 0 to 0 of 0
                entries</div>
              <div class="dataTables_paginate paging_simple_numbers" id="load_data_paginate"><a
                  class="paginate_button previous disabled" aria-controls="load_data" data-dt-idx="0" tabindex="-1"
                  id="load_data_previous">Previous</a><span></span><a class="paginate_button next disabled"
                  aria-controls="load_data" data-dt-idx="1" tabindex="-1" id="load_data_next">Next</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
